
main {
display: flex;
flex-direction: column;
  align-items: center;
}




h1 {
  background-color: #8df378;
  background-image: linear-gradient(45deg, #41403c, #a7a1a3, #424347);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.intro_text {
  
  grid-column: 1/span 3;
  text-align: center;
  padding-top: 0rem;
  margin-top: -2rem;
  margin-bottom: -9rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.intro_text img {
  margin-top: 3rem;
  width: 12rem;
  height: auto;
}

#kea_intro {
  
  font-family: Arial, Helvetica, sans-serif;
}




#bt_text2, #bt_text3, #bt_text4, #bt_text5 {
  text-align: center;
  margin: 2rem;
  font-size: 20px;
}

.text_2 li {
  font-weight: 800;
}

.text_1 {
  background-color: #878c73;
  margin-top: 10rem;
  grid-column: 1/2;
  grid-row: 2;
  padding: 1rem;
  
}

.text_11 {
  background-color: #878c73;
  margin-top: 10rem;
  grid-column: 3/2;
  grid-row: 2;
  padding: 1rem;
}

#bt_img1 {
  grid-column: 2/3;
  grid-row: 2;
}

.text_2 {
  grid-row: 3;
  grid-column: 1/span 3;
  padding: 1rem 1rem;
  align-self: center;
  text-align: left;
  margin: 1rem 11rem;
  border: #222 dotted;
}


#btgif {
  width: 20rem;
  height: auto;
}

#bt_trekanter {
  grid-column: 1/span 3;
  justify-self: center;
  padding-top: 1rem;
  width: 100%;
}


.BT_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  align-items: center;  
  gap: 2rem;
  padding: 4rem 2rem;
}

.row_container {
 display: flex;
 grid-column: 1/3;
}


.text_1,
.bt_image1_container,
.text_11 {
  flex: 1;
}

.text_1 {
grid-column: 1/2;
grid-row: 4;
}

.text_11 {
  grid-column: 3/4;
  grid-row: auto;
}

.bt_img1_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 2/3;
  align-items: end;
 
  

}

#bt_img1 {
  grid-column: 1;
  width: 24.5rem;
  margin: 0rem 2rem;
  margin-top: -9.8rem;
}


#bt_img11 {
  grid-column: 1;
  width: 24.5rem;
  margin: 0rem 2rem;
}


.postit5 {
  width: 20%;
height: auto;
position: absolute;
top: 40%;
left: -6%;
z-index: ;
  }
  
  .postit5 img {
  
  width: 28rem;
  height: auto;
  }


.proces_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  text-align: center;
  background-color: rgba(82, 77, 77, 0.5);
  margin: 1rem;
}

.proces_overskrift {
  grid-column: 1/ span 3;
  text-align: center;
  margin-top: 1rem;
}

.text_3,
.text_4,
.text_5 {
  display: flex;
  flex-direction: column;
  background-color: rgba(172, 201, 177, 0.5);
  margin: 1rem 1rem;
  
}

.text_3 p, ul {
  text-align: left;
}
.text_5 p, ul {
  text-align: left;
}

.pechakucha h3{
  text-align: center;
  margin-top: 20px;
}

.pechakucha {
 grid-column: 2/3;
 padding: 1rem;
}

.pechakucha a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4d704e;
  color: #fff;
  text-decoration: none;
}

#bt_link {
  grid-column: 1/span 3;
  text-align: center;
  padding-top: 1rem;
  margin: 1rem;
  grid-row: 9;
  
}

#brolaegger_link {
font-size: 2rem;
color: rgb(82, 77, 77);


}

.slideshow_container {
  width: 60%;
  margin-bottom: 2rem;
  display: grid;
  place-self: center;
  grid-row: auto / span 6;
  grid-column: 1 / span 2;
}

#favicon {
  display: block;
  margin: 0 auto;
}

/* SLIDESHOW */
/* inspireret af: https://www.w3schools.com/howto/howto_js_slideshow_gallery.asp */


.slideshow_container {
  position: relative;
  place-self: center;
  
}

.mySlides {
  display: none;
}


.cursor {
  cursor: pointer;
}


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.column {
  float: left;
  width: 16.66%;
}


.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}




@media (max-width: 768px) {
  
body {
  width: 100%;
 
}

img {
  width: 2rem;
}

h1 {
background-color: #8df378;
background-image: linear-gradient(45deg, #41403c, #a7a1a3, #424347);
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent; 
-moz-text-fill-color: transparent;
font-size: 2.7rem;
margin-top: 3rem;
}

h2 {
  margin: -3rem;
  padding: 3rem 0rem;
}
.BT_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.intro_text {
  text-align: center;
  padding: 1rem;
  max-width: 80%;
}


.bt_img1_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bt_img1,
#bt_img11 {
  margin-top: 20px;
  width: 90%;
}
#bt_text1 {
  
grid-row: 3;

}

#bt_text11 {
  grid-row: 4;
}

.text_3,
.text_4 {
  text-align: center;
}

.proces_container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  margin: 0rem;
  padding: 0rem;
 }

.postit5 {
  display: none;
}

 .row_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_1,
.text_11 {
  text-align: center;
  justify-content: center;
}

.text_1 {
  margin: 2rem 0rem 0rem 0rem;
  padding: 0rem;
}

.text_11 {
  margin: 2rem 0rem 0rem 0rem;
  padding: 1rem;
}
 

.text_2 {
  margin: 0rem;
  border-width: 0.5rem;
}

.proces_overskrift {
  grid-column: 1;
grid-row: 1;
}

 .text_3 {
 
grid-column: 1;
grid-row: 2;

 }

 .text_4 {
  grid-column: 1;
  grid-row: 3;
  
 }

 .text_5 {
  grid-column: 1;
  grid-row: 4;
  
 }

 .pechakucha h3{
  text-align: center;
  margin-top: 20px;
}

.pechakucha {
 grid-column: 1;
 grid-row: 5;
 padding: 1rem;
}

.pechakucha a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4d704e;
  color: #fff;
  text-decoration: none;
}

 #bt_link h2{
  padding: 0rem;
  margin: 0rem;
  text-align: center;
  font-size: 0.5;
}


 footer {
  box-sizing: border-box;
position: relative;
font-size: auto;
text-align: center;
color: black;
font-family: Arial, Helvetica, sans-serif;
background-color: rgba(247, 250, 71, 0.6);
box-shadow: #878c73 3px 1px 4px 0px;
border-radius: 0rem 0rem 0rem 0rem;
margin: 0rem 2rem 6rem 3rem;
padding: 0rem;
height: auto;
width: 20rem;

}
}
 
