@font-face {
  font-family: tomatoes;
  src: url('fonts/Tomatoes-O8L8.ttf');
}

@font-face {
  font-family: Robot Slab;
  src: url('fonts//Roboto_Slab/RobotoSlab-VariableFont_wght.ttf');
}

@font-face {
  font-family: Titillium;
  src: url('fonts/Titillium_Web/TitilliumWeb-Regular.ttf');
}

@font-face {
  font-family: Parkstam;
  src: url('fonts/Parkstam\ Sutherlane.otf');
}

@font-face {
  font-family: Recoleta;
  src: url('fonts/Recoleta-SemiBold.ttf');
}

@font-face {
  font-family: ;
  src: url();
}

/*
font-family: "cheee", sans-serif;
font-weight: 200;
font-style: normal;

font-family: "cheee-bingbong", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "cheee-boogy", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "cheee-jimbo", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "cheee-oldskool", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "cheee-peeenutt", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "cheee-tbone", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "cheee-wowie", sans-serif;
font-weight: 400;
font-style: normal;

*/

* {
  font-family: Titillium;
  font-size: 18px;
}

body {
  align-items: center;  
  background-image: url("/backgrounds/wavesbg.png");
  background-size: cover;
  z-index: -1;
  
}

main {    
  background-image: url("/backgrounds/notepadbg.png");
  
  box-shadow: #81598c 2px 2px 10px 2px;
  
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

body {
  font-family: Arial, Helvetica, sans-serif;
 
}

main {    
  background-image: url("/backgrounds/notepadbg.png");
  background-size: cover;
}


h1 {
  font-size: 60px;
  font-family: cheee-bingbong;
}

h2 {
  font-size: 30px;
  font-family: Recoleta;
}


footer {
  position: absolute;
  font-size: auto;
  text-align: center;
 color: black;
 font-family: Arial, Helvetica, sans-serif;
  background-color: #007bff;
  background-color: rgba(103, 243, 140, 0.5);
  border-radius: 0rem 0rem 2rem 2rem;
  margin: 0rem 60rem 10rem 12rem;
  padding: 0.8rem;
  height: 3rem;
  width: 12rem;

}


/* NAV BAR 2*/

.small_navbar {
  position: fixed; /* Position the navbar fixed on the viewport */
  top: 0; 
  left: 0; 
  z-index: 9999; 
  width: 100%; 
}

.navbar2 ul{
  list-style-type: none;
  text-decoration: none;
}

.nav_link2 {
  background-color: rgba(255, 230, 0, 0.5);
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: purple;
  text-decoration: none;
  padding: 5px 10px; /* Add padding to the menu items */
}


.nav-menu2 li {
  margin-bottom: 10px; /* Add some spacing between menu items */
}

.nav-menu2 li:hover {
  background-color: rgba(103, 243, 140, 0.5);
  border-radius: 10rem;
}

.small_navbar .nav-menu2 {
  display: none; /* Hide the menu items by default */
}

.small_navbar.active .nav-menu2 {
  display: flex; /* Display the menu items when the navbar is active */
  flex-direction: column; /* Stack the menu items vertically */
  align-items: flex-start; /* Align the menu items to the left */
}

.burger-icon {
  display: block; /* Display the burger icon */
  cursor: pointer;
  padding: 2rem;
  width: 40px;

}

.burger-icon .bar {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
}











body {
position: relative;
}

main {
position: relative;
z-index: 1;
}




a.nav_link{
display: flex;
justify-content: center;
align-items: center ;
color: darkblue;
text-decoration: none;


}

.navbar ul {
list-style-type: none;
display: flex;
justify-content: space-between;
align-items: center;
margin: 0rem 8rem;

}


.nav_link {
font-size: 1.2rem;

}


.navbar li {
top: 50px;
position: relative;
padding: 20px 0;
cursor: pointer;
transition: transform 0.3s;

}

.navbar li::before {
content: "";
position: absolute;
top: 10%;
left: 0;
width: 100%;
height: px;
background-color: #007bff;
transform: scaleY(0);
transition: transform 0.3s;
}

.navbar li:hover {
transform: translateY(-20px);
}

.navbar li:hover::before {
transform: scaleY(1);
}






/* NAV BAR LARGE */


* {
padding: 0;
margin: 0;

}

html {
font-family: tomatoes;

}

body {
position: relative;
}

main {
position: relative;
z-index: 1;
}




a.nav_link{
display: flex;
justify-content: center;
align-items: center ;
color: darkblue;
text-decoration: none;


}

.navbar ul {
list-style-type: none;
display: flex;
justify-content: space-between;
align-items: center;
margin: 0rem 4rem;
font-family: Arial, Helvetica, sans-serif;

}


.nav_link {
  display: flex;
font-size: 1rem;
font-family: Tillium;
}

.nav_link span {
  font-size: 2rem;
}


.navbar li {
top: 55px;
position: relative;
padding: 20px 0;
cursor: pointer;
transition: transform 0.3s;


}

.navbar li::before {
content: "";
position: absolute;
top: 10%;
left: 0;
width: 100%;
height: px;
background-color: #007bff;
transform: scaleY(0);
transition: transform 0.3s;
}

/* HVOR LANGT NAV FANER GÅR OP */

.navbar li:hover {
transform: translateY(-22px);
}

.navbar li:hover::before {
transform: scaleY(1);
}




#nav-item-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(153, 153, 212);
  width: 6rem;
  height: 5rem;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 4px 4px 5px 2px;
color: #a9a6b2;
}

/* NAV DER VIRKER! KOPIR TIL DE ANDRE NAVS!*/

.nav-item-2 {
  background-color: rgb(244, 175, 137);
  width: 4rem;
  height: 4rem;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 4px 4px 5px 2px;
  color: #a9a6b2;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
    
  }
  .nav_item-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav_icon2 {
    margin-top: -1.4rem;
    width: 4rem;
    height: auto;
    
  }
  
  .nav_text2 {
    text-align: center;
    margin-top: -2.5em;
    font-size: 1rem;
  }
  


#nav-item-3 {
background-color: rgb(218, 218, 108);
width: 4rem;
height: 5rem;
border-radius: 10px 10px 0px 0px;
box-shadow: 4px 4px 5px 2px;
color: #a9a6b2;
}

#nav-item-4 {
background-color: rgb(225, 123, 145);
width: 8rem;
height: 4rem;
border-radius: 10px 10px 0px 0px;
box-shadow: 4px 4px 5px 2px;
color: #a9a6b2;
}

#nav-item-5 {

background-color: rgb(97, 189, 97);
width: 8rem;
height: 5rem;
border-radius: 7px 4px 0px 0px;
box-shadow: 4px 4px 5px 2px;
color: #a9a6b2;
}

.nav_icon5 {
  padding: 1.8rem;
  margin-top: -2.8rem;
}

#nav-item-6 {
background-color: salmon;
width: 4rem;
height: 5rem;
border-radius: 10px 10px 0px 0px;
box-shadow: 4px 4px 5px 2px;
color: #a9a6b2;
}

#nav-item-7 {
background-color: pink;
width: 8rem;
height: 4rem;
border-radius: 2px 4px 0px 0px;
box-shadow: 4px 4px 5px 2px;
color: #a9a6b2;
}

#nav-item-8 {
background-color: rgb(95, 198, 198);
width: 8rem;
height: 5rem;
border-radius: 10px 10px 0px 0px;
box-shadow: 4px 4px 5px 2px;
color: #a9a6b2;
}

.nav_text {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 50%;
  color: black;
  margin-top: -.0rem;
}




.nav_number {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 50%;
  font-size: 1.5rem;
  margin-top: -0.2rem;
  color: #007bff;
  margin-top: -3.0rem;
}




@media (min-width: 768px) {

  body {
    
      max-width: 1200px;
      margin: 0 auto 10rem auto;
    }

  }
 
  .large_navbar {
    display: block;

  }

  .small_navbar {
    display: none;
  }

  .animated_flower {
    display: none;
  }

}

@media (max-width: 768px)

{


  .large_navbar {
    display: none;

  }

  .small_navbar {
    display: block;
  }



  body{
    background-image: none;
  }

  main {
      background-image: none;
      box-shadow: none;
      padding-bottom: 3rem;
  }

  body {
      background-image: url("/backgrounds/notepadbg.png");
      box-shadow: none;
      position: absolute;
      
    }



