
/* STORE SKÆRME */

@media (min-width: 768px) {

 
    
    body {
        max-width: 1200px;
        margin: 0 auto 10rem auto;
      }

/* gradient inspiration: https://fossheim.io/writing/posts/css-text-gradient/ */
h1 {
  
  background-color: #8df378;
    background-image: linear-gradient(45deg, #f3eb78, #af4261, #4252af);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

     
      .large_navbar {
        display: block;
    
      }
    
      .small_navbar {
        display: none;
      }
    
      .animated_flower {
        display: block;
      }
    

.forside_note_container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}


#signature {

max-width: 20%;
height: auto;
margin-top: 2rem;
margin-left: 4rem;
}

.text_forside1 {
 
text-align: center;
margin-top: 2rem;
}
.postit1 {
position: absolute;
margin-top: -4rem;
position: relative;
text-align: center;
color: blue;
grid-row: 2;
grid-column: 3;
}
.postit1_text {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-family: Arial, Helvetica, sans-serif;

}

.postit1 img {

width: 18rem;
height: auto;
}



#forside_txt1 {
  text-align: center;
    margin: 1rem;
    grid-row: 2;
grid-column: 2/3;
padding-top: 3rem;
}

#forside_txt2{
 
  text-align: left;
    margin: 3rem;
    padding: 2rem;
    grid-row: 3;
grid-column: 1/ span 2;

}

#forside_txt2 {
  background-color: #4252af;
  background-color: rgba(103, 243, 140, 0.5);
  box-shadow: #c5bdc7 2px 2px 2px 0px;
  border-radius: 0.5rem;
  margin-top: 4rem;
}



.forside_foto1 {
  position: relative;
  margin-top: -4rem;
  
  text-align: center;
  color: blue;
  grid-row: 5;
  grid-column: 2;
  }
  
  .forside_foto1 img {
  margin-top: 2rem;
  width: 30rem;
  height: auto;
  }
  
  

#kea_text {
  color: #73778c;
}


.maskot_container {
  margin-top: -6rem;
    grid-row: 6;
    grid-column: 3;
    padding-left: 2rem;
}



.animated_flower {
  position: absolute;
  top: 22.5rem;
  left: 5rem;
  margin: -2rem 0rem -8rem 0rem;
  pointer-events: none;
  }
  
  
  #flowerface {
  width: 10rem;
  height: auto;
  position: relative; 
  top: -10.5rem; 
  left: 0px;
  z-index: 40; 
  }
  
  #petals {
  width: 10rem;
  height: auto;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 20; 
  }
  
  #flowerbody {
  width: 10rem;
  height: auto;
  position: absolute;
  top: 2rem;
  left: 0px;
  z-index: 10; 
  }





/* SMÅ SKÆRME */

  }
  
  @media (max-width: 768px)
  
  {

p {
  font-size: 16px;
}

h1 {
  
  background-color: #8df378;
    background-image: linear-gradient(45deg, #f3eb78, #af4261, #4252af);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.text_forside1 {
  margin: 2rem;
  
}

.rainbow_text {
  text-align: center;
}


  footer {
    
  
  }

.forside_note_container {

display: flex;

flex-direction: column;
align-items: center;

}

#signature {
align-self: flex-end;
max-width: 10%;
height: auto;
margin-top: 2rem;
margin-right: 2rem;
}


.postit1 {
position: absolute;
margin-top: 2rem;
position: relative;
text-align: center;
color: blue;
}
.postit1_text {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-family: Arial, Helvetica, sans-serif;

}

.postit1 img {

width: 14rem;
height: auto;
}


.forside_foto1 img {
  width: 20rem;
  height: auto;
}

.maskot_container {
display: flex;
justify-content: flex-end;
}



.maskot img {
max-width: 50%;
height: auto;
}

.animated_flower {
position: relative;
top: 0;
left: 0;
margin: -2rem 0rem -8rem 0rem;
pointer-events: none;
}


#flowerface {
width: 10rem;
height: auto;
position: relative;
top: -10.5rem; 
left: 0px;
z-index: 40;
}

#petals {
width: 10rem;
height: auto;
position: relative;
top: 0px;
left: 0px;
z-index: 20; 
}

#flowerbody {
width: 10rem;
height: auto;
position: absolute;
top: 2rem;
left: 0px;
z-index: 10; 
}


#forside_txt1 {
margin: 1rem;
grid-row: 2;
grid-column: 2/3;
padding: 2rem;
margin: 3rem;
background-color: #4252af;
background-color: rgba(103, 192, 243, 0.5);
box-shadow: #c5bdc7 2px 2px 2px 0px;
}

#forside_txt2{
grid-row: 3;
grid-column: 2/3;
margin: 3rem;
padding: 2rem;
background-color: #4252af;
background-color: rgba(103, 243, 140, 0.5);
box-shadow: #c5bdc7 2px 2px 2px 0px;
}


footer {
  box-sizing: border-box;
  position: relative;
  font-size: auto;
  text-align: center;
 color: black;
 font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(247, 250, 71, 0.6);
  box-shadow: #878c73 3px 1px 4px 0px;
  border-radius: 0rem 0rem 0rem 0rem;
  margin: 0rem 8rem 6rem 8rem;
  padding: 0rem;
  height: 3rem;
  width: auto;

}



}


/* ANIMATION */



.rotation {
animation: rotation 4s infinite linear;
transform-origin: center;
}

@keyframes rotation {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}







.maskot_container {
position: relative;
}

#tanke_img {
width: 200px;
height: 200px;
transition: transform 1s;
}

.tanke_bobbel {

}

#tanke_tekst {
font-family: Arial, Helvetica, sans-serif;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-120%, -200%);
font-size: 18px;
padding: 0.6rem;
color: rgb(255, 255, 255);
text-align: center;  
border-radius: 0.6rem;
opacity: 0;
transition: opacity 1s;
background-image: url(/backgrounds/tern.png);
background-color: rgb(218, 218, 108, 5.5);

background-size: cover;
background-size: 5rem 5rem;
background-position: center;

}


#klik_her {
  background-image: url();
position: absolute;
top: 20%;
left: 45%;
transform: translate(-160%, -100%);
font-size: 16px;
color: rgb(177, 92, 158);
cursor: pointer;
}

.shake-animation {
animation: shake 0.5s ease-in-out;
}

@keyframes shake {
0% { transform: translateX(0); }
25% { transform: translateX(-10px); }
50% { transform: translateX(10px); }
75% { transform: translateX(-10px); }
100% { transform: translateX(0); }
}