
/* STORE SKÆRME */

@media (min-width: 768px) {

 
    
  body {
      max-width: 1200px;
      margin: 0 auto 10rem auto;
    }


   
    .large_navbar {
      display: block;
  
    }
  
    .small_navbar {
      display: none;
    }
  
    .animated_flower {
      display: none;
    }
  


    .text_forside1 {
      text-align: center;
      margin-top: 2rem;
      }


/* SMÅ SKÆRME */

}

@media (max-width: 768px)

{

footer {
  

}




footer {
  box-sizing: border-box;
position: relative;
font-size: auto;
text-align: center;
color: black;
font-family: Arial, Helvetica, sans-serif;
background-color: rgba(247, 250, 71, 0.6);
box-shadow: #878c73 3px 1px 4px 0px;
border-radius: 0rem 0rem 0rem 0rem;
margin: 0rem 8rem 6rem 8rem;
padding: 0rem;
height: 3rem;
width: auto;
top: 2000px; /* JEG VED GODT DET ER FORKERT, MEN JEG KAN IKKE FÅ RYKKET DEN SATANS FOOTER!!!!!*/

}



}


/* ANIMATION */



.rotation {
animation: rotation 4s infinite linear;
transform-origin: center;
}

@keyframes rotation {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(360deg);
}
}

