
/* STORE SKÆRME */

@media (min-width: 768px) {

 
    
  body {
      max-width: 1200px;
      margin: 0 auto 10rem auto;
    }

/* gradient inspiration: https://fossheim.io/writing/posts/css-text-gradient/ */
h1 {

background-color: #8df378;
  background-image: linear-gradient(45deg, #e9dd3e, #56b34a, #3d8f28, #e9dd3e);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

   
    .large_navbar {
      display: block;
  
    }
  
    .small_navbar {
      display: none;
    }
  
    .animated_flower {
      display: none;
    }
  

.forside_note_container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}


.text_forside1 {
  text-align: center;
  margin-top: 2rem;
  grid-column: 2; /* Add this line to center the element in the second grid column */
}

.vita_gifs_container {
  margin: 2rem;
  gap: 2rem 2rem ;
  display: flex;
  justify-content: center;
}

.vita_gifs_container img {
  justify-content: center;
  max-width: 50%;
}


#vitamin_link {
  font-size: 2rem;
  color: rgb(82, 77, 77);
  }


  .postit1 {
    margin-top: -4rem;
    position: relative;
    text-align: center;
    color: blue;
    grid-row: 2;
    grid-column: 3;
    }
    
    .postit1_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    
    }
    
    .postit1 img {
    
    width: 18rem;
    height: auto;
    }
    